{% extends 'base.html.twig' %}

{% block title %}EcoScore{% endblock %}

{% block body %}
    <h1>EcoScore</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eco_score.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ eco_score.label }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ eco_score.score }}</td>
            </tr>
            <tr>
                <th>MaxScore</th>
                <td>{{ eco_score.maxScore }}</td>
            </tr>
            <tr>
                <th>Normes</th>
                <td>{{ eco_score.normes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eco_score_index') }}">back to list</a>

    <a href="{{ path('app_eco_score_edit', {'id': eco_score.id}) }}">edit</a>

    {{ include('eco_score/_delete_form.html.twig') }}
{% endblock %}
