{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}


    {% include './composant/Header.html.twig' %}

    <body class=" bg-orange-100">

    <div class="relative z-48  h-screen top-0 flex flex-col justify-center items-center">
        <!-- Conteneur de l'image -->
        <div class="w-screen  h-screen  bg-no-repeat bg-center"
             style="background-image: url('https://img.freepik.com/photos-gratuite/plan-horizontal-jeune-femme-aux-cheveux-boucles-etonnee-surprise-qui-embrasse-legumes-frais-fruits-enveloppes-dans-du-papier-reagit-quelque-chose-inattendu-porte-epicerie-isolee-fond-marron_273609-62770.jpg?t=st=1709285270~exp=1709288870~hmac=754c495a6cbf3c3bf29ab5c534ec879373dbb3bf9df2a8558b7c6c1e800087de&w=2000');">
            <!-- Le texte commence ici, au-dessus de l'image -->
            <div id="floatingText"
                 class="	  absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-full w-full h-full flex flex-col items-center justify-center p-4">
                <div class="flex flex-col items-center justify-center bg-opacity-30 bg-slate-50">
                    <h2 class=" text-sm sm:text-md md:text-lg lg:text-xl xl:text-2xl text-slate-900		 text-center font-extrabold">
                        La plateforme de vente en ligne éco-responsable. <br>- déchet <br>+ de produits.
                    </h2>
                    <h2 class="text-xs sm:text-sm md:text-md lg:text-lg xl:text-xl text-slate-900 mt-2 md:mt-5 text-center font-semibold">
                        Notre objectif est de sensibiliser à la cause environnementale et de promouvoir un mode de vie
                        durable.
                    </h2>
                    <button class="mt-2 md:mt-4 rounded border-2 border-orange-200 px-4 md:px-7 pb-[4px] md:pb-[8px] pt-[6px] md:pt-[10px] text-xs md:text-sm font-medium uppercase leading-normal text-orange-100 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100">
                        Shop Now
                    </button>
                </div>
            </div>

        </div>
    </div>

    <script>
        document.addEventListener('scroll', function () {
            var scrollPosition = window.scrollY;
            var textElement = document.getElementById('floatingText');
            var imageContainer = textElement.parentElement;
            var imageHeight = imageContainer.offsetHeight;
            var imageOffsetTop = imageContainer.offsetTop;
            var windowHeight = window.innerHeight;
            var textHeight = textElement.offsetHeight;
            var maxTextPosition = imageHeight - textHeight; // Calculer la position maximale pour que le texte reste dans l'image

            // Calculer la nouvelle position du texte en fonction du défilement, sans le faire sortir de l'image
            var textPosition = Math.min(maxTextPosition, scrollPosition + windowHeight / 2 - imageOffsetTop - textHeight / 2);

            // S'assurer que le texte ne dépasse pas le haut de l'image
            textPosition = Math.max(0, textPosition);

            textElement.style.transform = `translate(-50%, ${textPosition}px)`;
        });

    </script>

    <style>
        .card:hover .arrow-svg {
            transform: translateX(10px);
            transition: transform 0.3s ease-in-out;
        }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <div class="w-screen mt-96 flex justify-around">
        <div class="swiper-container w-11/12">
            <div class="swiper-wrapper">
                <!-- Slide 1 : Légume -->
                <div class="swiper-slide bg-orange-100 flex flex-col mb-4 w-72 shadow-lg">
                    <img src="https://sf1.mariefrance.fr/wp-content/uploads/sites/5/2018/02/celeri-1-750x410.jpg"
                         class="w-full h-56 object-cover">
                    <div class="flex flex-col h-24 justify-center p-4 bg-gray-50">
                        <div class="text-center text-gray-600 text-lg font-semibold mb-2">Légume</div>
                        <div class="arrow-svg flex flex-row justify-center items-center">
                            <p class="text-gray-500 text-center flex items-center font-semibold text-xs hover:text-gray-800 cursor-pointer">
                                Découvrir</p>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 : Beauté -->
                <div class="swiper-slide flex flex-col mb-4 w-72 shadow-lg">
                    <img src="https://img.freepik.com/photos-gratuite/jeune-femme-appliquant-gommage-naturel-mains-contre-surface-rose-cure-thermale-produit-pour-spa-mains-feminines-massage-eau-fleurs-parfumees-bougies-detente-mise-plat-vue-dessus_1150-44585.jpg?t=st=1709282912~exp=1709286512~hmac=8589ec16cf79ab90cca2971aba78a3b18cba75bff6376151b362d99303830489&w=2000"
                         class="w-full h-56 object-cover">
                    <div class="flex flex-col h-24 justify-center p-4 bg-white">
                        <div class="text-center text-gray-600 text-lg font-semibold mb-2">Beauté</div>
                        <div class="flex flex-row justify-center items-center">
                            <p class="text-gray-500 text-center font-semibold text-xs hover:text-blue-800 cursor-pointer">
                                Découvrir</p>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 : Cave -->
                <div class="swiper-slide flex flex-col mb-4 w-72 shadow-lg">
                    <img src="https://img.freepik.com/photos-gratuite/cave-bouteilles_1136-132.jpg?t=st=1709282982~exp=1709286582~hmac=f5278e96398677053b3151806c6db780ebda9d0a840391b44a23f651373e7d78&w=2000"
                         class="w-full h-56 object-cover">
                    <div class="flex flex-col h-24 justify-center p-4 bg-white">
                        <div class="text-center text-gray-600 text-lg font-semibold mb-2">Cave</div>
                        <div class="flex flex-row justify-center items-center">
                            <p class="text-gray-500 text-center font-semibold text-xs hover:text-blue-800 cursor-pointer">
                                Découvrir</p>
                        </div>
                    </div>
                </div>

                <!-- Slide 4 : Épicerie -->
                <div class="swiper-slide flex flex-col mb-4 w-72 shadow-lg">
                    <img src="https://img.freepik.com/photos-gratuite/merveilleux-ingredients-appetissants-epices-pices-picerie-poivre-rouge-pour-cuisiner-cuisine-saine_1220-1676.jpg?t=st=1709283138~exp=1709286738~hmac=87eb44354603fe1cfd22a1687b6b463105bac80eebb0cb3882811d4c2ffb1c1e&w=2000"
                         class="w-full h-56 object-cover">
                    <div class="flex flex-col h-24 justify-center p-4 bg-white">
                        <div class="text-center text-gray-600 text-lg font-semibold mb-2">Épicerie</div>
                        <div class="flex flex-row justify-center items-center">
                            <p class="text-gray-500 text-center font-semibold text-xs hover:text-blue-800 cursor-pointer">
                                Découvrir</p>
                        </div>
                    </div>
                </div>
                <!-- Slide 4 : Épicerie -->
                <div class="swiper-slide flex flex-col mb-4 w-72 shadow-lg">
                    <img src="https://img.freepik.com/photos-gratuite/merveilleux-ingredients-appetissants-epices-pices-picerie-poivre-rouge-pour-cuisiner-cuisine-saine_1220-1676.jpg?t=st=1709283138~exp=1709286738~hmac=87eb44354603fe1cfd22a1687b6b463105bac80eebb0cb3882811d4c2ffb1c1e&w=2000"
                         class="w-full h-56 object-cover">
                    <div class="flex flex-col h-24 justify-center p-4 bg-white">
                        <div class="text-center text-gray-600 text-lg font-semibold mb-2">Épicerie</div>
                        <div class="flex flex-row justify-center items-center">
                            <p class="text-gray-500 text-center font-semibold text-xs hover:text-blue-800 cursor-pointer">
                                Découvrir</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Boutons de navigation -->
            {#            <div class="swiper-button-prev"></div> #}
            {#            <div class="swiper-button-next"></div> #}
            <!-- Pagination -->
            {#            <div class="swiper-pagination"></div> #}
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 2,
            spaceBetween: 30,

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            breakpoints: {
                400: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 3,
                },
                1024: {
                    slidesPerView: 4,
                },
            },
        });
    </script>


    <!--Affichage semi-dynamique produits "Les plus vendus"-->
    <div class="h-screen w-screen flex-col justify-center items-center">
        <div class="w-screen flex items-center justify-center">
            <h1 class="text-xl text-green-800 my-8 w-11/12 ">
                Top Vente
            </h1>
        </div>
        <div class="flex justify-center gap-4">
            {% for produit in produitsPlusVendus|slice(0, 4) %}
                <div class="flex flex-col items-center w-44 h-64 p-2.5 rounded border border-gray-400 border-opacity-50">
                    <img alt="{{ produit.titre }}" class="w-32 h-32 object-contain p-2">
                    <div class="flex flex-col items-center space-y-3">
                        <a class="text-xs mt-2 text-center font-medium">{{ produit.titre }}</a>
                        <span class="text-xs font-thin">{{ produit.description }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="produits-cache" class="hidden">
            {% for produit in produitsPlusVendus|slice(4, 4) %}
                <div class="flex flex-col items-center w-44 h-64 p-2.5 rounded border border-gray-400 border-opacity-50">
                    <img alt="{{ produit.titre }}" class="w-32 h-32 object-contain p-2">
                    <div class="flex flex-col items-center space-y-3">
                        <a class="text-xs mt-2 text-center font-medium">{{ produit.titre }}</a>
                        <span class="text-xs font-thin">{{ produit.description }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2 class="voir-plus text-green-800 font-semibold text-sm underline text-center mt-4 cursor-pointer">Voir
            plus</h2>

        <script>
            document.querySelector('.voir-plus').addEventListener('click', function () {
                document.getElementById('produits-cache').classList.remove('hidden');
                this.classList.add('hidden'); // Cache le bouton "Voir plus" après le clic
            });
        </script>
        {# <span class="text-xs font-semibold">Prix: {{ produit.prix }} €</span>
            href="{{ path('path_to_product_detail', {'id': produit.id}) }}"
            src="{{ produit.pathToImage }}" #}

        <!-- Affichage semi-dynamique produits "Mieux notés"-->
        <div class="h-screen w-screen flex-col justify-center items-center">
            <div class="w-screen flex items-center justify-center">
                <h1 class="text-xl text-green-800 my-8 w-11/12 ">
                    Mieux notés
                </h1>
            </div>
            <div class="flex justify-center gap-4">
                {% for produit in produitsMieuxNotes|slice(0, 4) %}
                    <div class="flex flex-col items-center w-44 h-64 p-2.5 rounded border border-gray-400 border-opacity-50">
                        <img alt="{{ produit.titre }}" class="w-32 h-32 object-contain p-2">
                        <div class="flex flex-col items-center space-y-3">
                            <a class="text-xs mt-2 text-center font-medium">{{ produit.titre }}</a>
                            <span class="text-xs font-thin">{{ produit.description }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="produits-cache-mieux-notes" class="hidden">
                {% for produit in produitsMieuxNotes|slice(4, 4) %}
                    <div class="flex flex-col items-center w-44 h-64 p-2.5 rounded border border-gray-400 border-opacity-50">
                        <img alt="{{ produit.titre }}" class="w-32 h-32 object-contain p-2">
                        <div class="flex flex-col items-center space-y-3">
                            <a class="text-xs mt-2 text-center font-medium">{{ produit.titre }}</a>
                            <span class="text-xs font-thin">{{ produit.description }}</span>

                        </div>
                    </div>
                {% endfor %}
            </div>

            <h2 class="voir-plus-mieux-notes text-green-800 font-semibold text-sm underline text-center mt-4 cursor-pointer">
                Voir plus</h2>

            <script>
                document.querySelector('.voir-plus-mieux-notes').addEventListener('click', function () {
                    document.getElementById('produits-cache-mieux-notes').classList.remove('hidden');
                    this.classList.add('hidden'); // Cache le bouton "Voir plus" après le clic
                });
            </script>

            <script>
                function carouselNext() {
                    const container = document.querySelector('.flex');
                    const shownItems = document.querySelectorAll('.flex-shrink-0:not(.hidden)');
                    const nextIndex = Math.min(shownItems.length, 5);
                    container.style.transform = `translateX(-${
                        nextIndex * 100
                    }%)`;
                }

                function carouselPrev() {
                    const container = document.querySelector('.flex');
                    container.style.transform = 'translateX(0)';
                }
            </script>
        </div>
    </div>


    <div>Ici test slider</div>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    {#    <div class="relative mt-12 md:mt-72 flex flex-col md:flex-row md:items-center"> #}
    <div>

        {#            code de camil #}
        <div class="relative mt-12 md:mt-72">
            <!-- Premier composant qui disparait sur mobile -->
            <div class="hidden md:flex justify-end w-full">
                <div class="w-full md:w-11/12 h-48 md:h-96 bg-orange-50">
                    <div class="flex items-center justify-center md:justify-start h-full md:h-1/5 p-4 md:p-0">
                        <h1 class="text-center md:text-left text-gray-600 text-xl md:text-3xl font-semibold pl-4">
                            BEAUTÉ </h1>
                    </div>
                </div>
            </div>

            <!-- Deuxième composant avec taille ajustée sur mobile -->
            <div class="absolute top-14 md:top-20 left-0 w-full flex flex-col md:flex-row justify-between md:space-y-0 space-y-4">
                <!-- La première image est masquée sur mobile -->
                <div class="hidden sm:block sm:w-96 w-full shadow-lg">
                    <img src="https://www.extime.com/_next/image?url=https%3A%2F%2Fstproadpmkpshare01.blob.core.windows.net%2Fextime%2Fassets%2Fvisuel_382x508_04_e565e07f39.jpg&w=3840&q=100"
                         alt="" class="w-full">
                </div>


                <div class="swiper mySwiper w-full md:w-2/3 lg:w-3/4">
                    <div class="swiper-wrapper">
                        {% for produit in produitsBeaute %}
                            <div class="swiper-slide">
                                <div class="bg-white shadow-lg">
                                    <img src="{{ produit.getImageProduit() }}" alt="Image de {{ produit.getTitre() }}"
                                         class="w-full h-96 object-cover">
                                    <div class="p-4 pb-6">
                                        <h2 class="font-bold text-gray-800">{{ produit.getTitre() }}</h2>
                                        <p class="font-light text-sm text-gray-600">
                                            {{ produit.getDescription()|length > 70 ? produit.getDescription()|slice(0, 70) ~ '...' : produit.getDescription() }}
                                        </p>
                                        <p class="font-semibold text-blue-800">Prix: {{ produit.getPrix() }}€</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>


            </div>
        </div>
    </div>

    <!-- Inclure le JS de Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        new Swiper('.mySwiper', {
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                768: {
                    slidesPerView: 3,
                },
                1024: {
                    slidesPerView: 3,
                },
            },
        });
    </script>

    </body>
{% endblock %}




